  *  {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("avenir/AvenirNextLTPro-Regular.otf"); /* File to be stored at your site */
  font-family: 'Avenir Bold';
  src: url("avenir/AvenirNextLTPro-Bold.otf");
  }

html,
body   {
  margin: 0;
  /*font-family : 'Futura';*/
  font-family: 'Avenir Next';
  color : black;
  height: 100%;
  font-size: 1rem;
  /*background: #FFF*/;
  /*background: #F0F8FF;*/
  background: #F8F8FF;
}


nav {
  height: 100vh;
  width: 5rem;
  position: fixed;
  padding-top: 0px;
  padding-left: 0px;
  display: block;
  background-color: #000000;
  top:0;
  left:0;
  /*
  
  float: left;
  z-index: 1;
  top: 0;
  left: 0;
  font-size: 10px;
  padding-left: 0px;
  */
}

nav ul li {
	display: inline-block;
}
nav ul li a    {
	/*color: #FFF;*/
	text-decoration: none;
	display: block;
	padding: 1vh 2vh;
	border-radius: 1vh;
	transition: 0.3s ease all;
  color: #F0F8FF;
}
nav ul li a:hover   {
	background: #444;
}

ul {
	font-family : 'Avenir Bold';
  color: #F0F8FF;
}

a {
	color : black;
}

.my-projects {
  text-align: left;
  padding-top:30px;
  margin-left: 160px;
  margin-right: 150px;
}

.my-resume {
  text-align: left;
  padding-top:30px;
  margin-left: 160px;
  margin-right: 150px;
}

.about-me {
	text-align: center;
	padding-top:30px;
	margin-left: 150px;
	margin-right: 150px;
}

.about-me img {
	margin-bottom: 12px;
	width: 220px;
  align-content: center;
}

.contact-me {
	text-align :center;
	margin-bottom: 30px;
  margin-left: 160px;
  margin-right: 150px;
}

/* Tablet Landscape 
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}*/
/* Tabled Portrait 
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}*/

@media (min-width: 350px) {
  body {font-size: 0.75rem;} 
  .about-me img {width : 80px; padding-top: 80px} 
  nav {height: 10%; width: 100vh; font-size: 1rem; }
  .about-me {
    margin-left: 30px;
    margin-right: 30px;
  }
  .contact-me {
    margin-right: 30px;
    margin-left: 30px;
  }
  .my-projects {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
  }
}

@media (min-width: 640px) { 
  body {font-size:1rem;} 
  .about-me img {width: 160px; padding-top: 0px} 
  nav {height: 100vh; width: 15%; font-size: .8rem; }
  .about-me{
  margin-left: 100px;
  margin-right: 100px;
  }
  .contact-me {
    margin-right: 100px;
    margin-left: 100px;
  }
  .my-projects {
    margin-left: 160px;
    margin-right: 150px;
    margin-top: 0px;
} 

@media (min-width:960px) { 
  body {font-size:1.2rem;} 
  .about-me img {width: 200px;} 
  nav {height: 100vh; width: 15%; font-size: .8rem; }
  .about-me{
  margin-left: 150px;
  margin-right: 150px;
  }
  .contact-me {
    margin-right: 150px;
    margin-left: 150px;
  }
} 

@media (min-width:1100px) { 
  body {font-size:1.5rem;} 
  .about-me img {width: 35vh;} 
  nav {height: 100vh; width: 12%; font-size: 1rem; }
  .about-me{
  margin-left: 150px;
  margin-right: 150px;
  }
  .contact-me {
    margin-right: 150px;
    margin-left: 150px;
  }
}



#page-container {
  position: relative;
  min-height: 100%;
}
