  *  {
  box-sizing: border-box;
}

html,
body   {
  margin: 0;
  /*line-height: 1.5;
  font-size: 16px;
  max-width: 100%;*/
  font-family : monospace;
  color : black;
  height: 100%;
  font-size: 100%;
  background: 200;
}

header {
    background:#708090;
    padding: 1rem;
    font-size: 1rem;
    /*width: auto;
	min-height: 100%;
    max-width: 100%;*/
}
/*
#logo         {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 49%;
  font-family : monospace;
}

#logo img    {
  width: 50px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}
#logo span   {
  display: inline-block;
}*/

nav {
	/*width: 200px;
	display: inline-block;
	text-align: left;*/
  height: 100vh;
  width: 15vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 0px;
  font-size: 1rem;
  text-align: left;
  padding-left: 0px;
  overflow-x: hidden;
}

/*nav ul   {
	list-style: none;
	margin: 0;
}*/
nav ul li {
	display: inline-block;
}
nav ul li a    {
	/*color: #FFF;*/
	text-decoration: none;
	display: block;
	padding: 1vh 2vh;
	border-radius: 1vh;
	transition: 0.3s ease all;
  color: white;
}
nav ul li a:hover   {
	background: #444;
}

/* styling our footer */
footer   {
  background: #708090;
  color: #708090;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
}

footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}
/*
body {
	font-family : monospace;
	color : white;
}*/

ul {
	font-family : monospace;
}

a {
	color : black;
}

.about-me {
	text-align: center;
	padding-top:30px;
	margin-left: 150px;
	margin-right: 150px;
}

.about-me img {
	margin-bottom: 12px;
	width: 220px;
  align-content: center;
}

.contact-me {
	text-align :center;
	margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

canvas {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
@media (min-width: 350px) {
  body {font-size: 0.75rem;} 
  .about-me img {width : 0px;} 
  nav {height: 5vh; width: 100vh; font-size: 1rem; padding-top: 0px;}
  }

@media (min-width: 640px) { 
  body {font-size:1rem;} 
  .about-me img {width: 160px;} 
  nav {height: 100vh; width: 15vh; font-size: 1rem; padding-top: 0px;}} 

@media (min-width:960px) { 
  body {font-size:1.2rem;} 
  .about-me img {width: 200px;} 
  nav {height: 100vh; width: 15vh; font-size: 1.5rem; padding-top: 0px;}} 

@media (min-width:1100px) { 
  body {font-size:1.5rem;} 
  .about-me img {width: 35vh;} 
  nav {height: 100vh; width: 15vh; font-size: 1.5rem; padding-top: 0px;}}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 0rem;    /* Footer height */
}
