$accent-color: rgb(47, 248, 154);
$accent-color2: rgb(28, 32, 241);
$accent-color3: rgb(20, 235, 49);
$accent-color4: rgb(248, 71, 71);
$font-color: rgb(0, 0, 0);
$bg-color: #dce2e9;
$post-card-color: rgb(190, 255, 209);
$middle-color: rgb(158, 171, 187);
$grad1: linear-gradient(to bottom right, rgba(121,4,199,1) 0%, rgba(251,26,26,1) 100%);
$grad2: linear-gradient(to bottom, $accent-color2,transparent), linear-gradient(to left, $accent-color, transparent), linear-gradient(to right, $accent-color4, transparent)/*, linear-gradient(to top right, $accent-color, transparent)*/;
$gh-bg-color1: #1e2327;
$gh-bg-color3: #29343b;
$gh-bg-color2: #112034;
$gh-blue: #1f477e;
$gh-font-color: rgb(228, 225, 225);
$yellow: #fddd7c;

:root {
  --bg-color: #d8dce2;
  --post-card-color: rgb(190, 255, 209);
  --middle-color: rgb(186, 202, 219);
  --font-color: black;
  --button-color: rgb(36, 32, 68);
  --fill-color: #fddd7c;
  --shape-background: rgb(224, 226, 230);
  --button-border: #1e2327;
}

body.dark {
  --middle-color: #29343b; 
  --bg-color: #1e2327;
  --font-color: rgb(228, 225, 225);
  --button-color: skyblue;
  --fill-color: #fddd7c;
  --shape-background: var(--fill-color);
  --button-border: #1f477e;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
  height: 100%;
}

.post-title {
  color: var(--font-color);
}

.post-date {
  color: var(--font-color);
}

.post-read-time {
  color: var(--font-color);
}

#dark-theme-toggle {
  top: 92%;
  left: 1%;
  position: fixed;
  background-color: var(--button-color);
  border-radius: 100%;
  border: 0px solid var(--button-border);
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: ease all 0.3s;
  .shape {
    position: absolute;
    top:25%;
    left:25%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: var(--shape-background);
  } 
}

.featured-image-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#page-container   {
  font-family: 'Dosis', sans-serif;
  color : var(--font-color);
  min-height: 87.5%;
  position: relative;
  font-size: 1rem;
  @media only screen and (max-width: 1000px) {
    font-size: 1.5rem;
  }
  background: var(--middle-color);
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 0.5%;
  padding: 20px;
  justify-content: center;
}

#page-body {
  padding: 8px;
  background-color: var(--middle-color);
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /*grid-template-columns: fit-content(50%);*/
  @media only screen and (max-width: 1000px) {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  grid-gap: 30px;
  justify-content: center;;
  background-color: var(--middle-color);
  /*margin-left: 2.5%;
  margin-right: 2.5%;*/
  margin-top: 20px;
  transition: 0.3s ease all;
}

.post-tag {
  padding: 0.5vh 1.5vh;
  border-radius: 1vh;
  border: 1px solid var(--font-color);
  text-decoration: none;
  color: var(--font-color);
}

.post-tag:hover {
  background: var(--bg-color);
  color: var(--font-color);
  box-shadow: 1.5px 3px black;
  border: 1px solid var(--bg-color);
  transition: 0.1s ease all;
}

.portrait {
  width: 250px;
  height: 250px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.banner {
  width: 80%;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  float: none;
}

a {
	color : var(--font-color);
}

.post-card {
  background: var(--bg-color);
  text-decoration: none;
  color: var(--font-color);
  margin-top: 30px;
  border-radius: 0.75vh;
  padding: 15px;
  transition: 0.1s ease all;
  border: 2px solid transparent;
  img {
    width: 100%;
    max-height: 100%;
    border-radius: 0.75vh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .title, .excerpt {
    text-decoration: none;
  }
  .post-tag {
    padding: 0.5vh 1.5vh;
    border-radius: 1vh;
    border: 1px solid var(--font-color);
    text-decoration: none;
    color: var(--font-color);
  }
  
}


.post-card:hover {
  /*background: rgb(136, 204, 236);*/
  background: $post-card-color;
  background-attachment: fixed;
  /*box-shadow: 3px 6px rgb(160, 236, 241);*/
  /*box-shadow: 3px 6px skyblue;*/
  box-shadow: 3px 6px black;
  border: 2px solid black;
  .title, .excerpt{
    color: black;
  }
  .post-tag {
    color: black;
    border: 1px solid black;
    transition: 0.1s ease all;
  }
  .post-tag:hover{
    background: var(--middle-color);
    color: white;
    border: 1px solid var(--middle-color);
  }
}

nav {
  position: fixed;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
  padding-top: 0px;
  padding-left: 0px;
  display: block;
  background-color: var(--bg-color);
  top:0;
  left:0;
  z-index: 9999;
  width: 95%;
  height: 60px;
	color: var(--font-color);
  align-content:center;
}

nav {
  align-content: left;
  img {
    position: absolute;
    width: 30px;
    height: 30px;
    left:0px;
    top: 15px;
    transition: 0.1s ease all;
    color: var(--font-color);
    border: 2px solid transparent;
  }
  img:hover   {
    border-color: black;
    border-radius: 0.75vh;
    box-shadow: 2px 3px black;
    background-color: white;
  }
}

.Blog {
  float: right;
  margin-top: 10px;
	font-weight: bold;
	text-decoration: none;
	padding: 1vh 2vh;
	transition: 0.1s ease all;
  color: var(--font-color);
  border: 2px solid transparent; 
}

.Blog:hover   {
  border-color: black;
  /*color: grey;*/
  color: black;
  border-radius: 0.75vh;
  box-shadow: 2px 3px black;
  background-color: rgb(190, 245, 255);
}

.About  {
  float: right;
  margin-top: 10px;
	font-weight: bold;
	text-decoration: none;
	padding: 1vh 2vh;
	transition: 0.1s ease all;
  color: var(--font-color);
  border: 2px solid transparent;
}

.About:hover   {
  border-color: black;
  /*color: grey;*/
  color: black;
  border-radius: 0.75vh;
  box-shadow: 2px 3px black;
  background-color: rgb(190, 255, 209);
}

.Projects  {
  float: right;
  margin-top: 10px;
	font-weight: bold;
	text-decoration: none;
	padding: 1vh 2vh;
	transition: 0.1s ease all;
  color: var(--font-color);
  border: 2px solid transparent;
}

.Projects:hover   {
  border-color: black;
  /*color: grey;*/
  color: black;
  border-radius: 0.75vh;
  box-shadow: 2px 3px black;
  background-color: rgb(238, 255, 190);
}

.footer  {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  width: 100%;
  height: 40px;
  display: inline-flex;
  color: var(--font-color);
  justify-content: center;
  align-content: center;
  img {
    width: 30px;
    height: 30px;
    padding: 5px;
    transition: 0.1s ease all;
  }
  img:hover {
    background-color: var(--middle-color);
    border-radius: 100%;
  }
}
