@font-face {
  font-family: 'Avenir Next';
  src: url("../assets/AvenirNextLTPro-Regular.otf"); /* File to be stored at your site */
  font-family: 'Avenir Bold';
  src: url("../assets/AvenirNextLTPro-Bold.otf");
  }

html,
body   {
  margin: 0;
  font-family: 'Avenir Next';
  color : black;
  height: 100%;
  font-size: 1rem;
	margin-left: 4rem;
	margin-right: 12.5%;
	background: #F8F8FF;
}

.post-tag {
  padding: 0.5vh 1.5vh;
  border-radius: 1vh;
  border: 1px solid black;
  text-decoration: none;
}

.post-tag:hover {
  background: #697689;
  color: #F8F8FF;
  border: 1px solid #697689;
  transition: 0.15s ease all;
}

.portrait {
	margin-bottom: 12px;
	margin-top: 12px;
	width: 250px;
  align-content: center;
}

a {
	color : black;
}

.post-title {
  text-decoration: none;
  color: black;
  /*color: #696780;
  padding: 0vh 1vh;
	border-radius: 1vh;
  border: 1px solid #F8F8FF;
  display: inline-block;*/
}

.post-title:hover {
  /*color: #696780;*/
  color: #697689;
  /*color: #F8F8FF;
  border: 1px solid #F8F8FF;
  background: #696780;*/
  transition: 0.15s ease all;
}

nav img {
	margin-bottom: 12px;
	margin-top: 12px;
	width: 60px;
  align-content: center;
}

nav {
  height: 100vh;
  width: 7rem;
  position: fixed;
  padding-top: 0px;
  padding-left: 0px;
  display: block;
  background-color: #000000;
  top:0;
  left:0;
	color: #F0F8FF;
  align-content:center;
}

.navigator    {
  align-content: center;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	display: block;
	padding: 1vh 2vh;
	border-radius: 1vh;
	transition: 0.3s ease all;
  color: #F0F8FF;
}
.navigator:hover   {
	background: #697689;
}
